<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SalesmenDao">
    <resultMap id="BaseResultMap" type="com.example.demo.model.Salesmen">
        <id column="jobNumber" jdbcType="VARCHAR" property="jobNumber"/>
        <result column="idCard" jdbcType="VARCHAR" property="idCard"/>
        <result column="sname" jdbcType="VARCHAR" property="sname"/>
        <result column="authority" jdbcType="INTEGER" property="authority"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="password" jdbcType="INTEGER" property="password"/>
    </resultMap>

    <sql id="Base_Column_List">
        jobNumber,idCard,sname,authority,phone,gender,password
    </sql>

    <select id="selectByJobNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from salesmen
        where jobNumber = #{jobNumber,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from salesmen
    </select>

    <update id="renewInfo">
        update salesmen
        set sname = #{sname}, phone = #{phone}, gender = gender
        where jobNumber = #{jobNumber}
    </update>

    <delete id="deleteByJobNumber">
        delete from salesmen
        where jobNumber = #{jobNumber, jdbcType=VARCHAR}
    </delete>

    <insert id="insert">
        insert into salesmen
        value(#{jobNumber}, #{idCard}, #{sname}, 2, #{phone}, #{gender}, #{password})
    </insert>

</mapper>